body {
  font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background:#f8f8f8;
}

/*覆盖样式*/
.ui-btn-primary {
  background-color: #228feb;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#228feb),to(#228feb));
  color: #fff;
  background-clip: padding-box;
}
.ui-btn-primary:active{
  background:#2272eb;
}
.ui-icon-return{
  font-size: 25px;
}
.icon-cc-head-o{
  font-size: 25px;
}
.ui-actionsheet button:not(:last-child) {
    border-top: 1px #e0e0e0 solid;
}

/*公用样式*/
#imgupload{
  opacity:0;
  z-index: 100;
  height: 60px;
  position: relative;
  top: -20px;
}
.h5-date{
  height: 100%;
  display: inline-block;
}
.hide {
  display: none;
}
section{
	position:absolute;
	top:0;
	bottom:0;
	left:0;right:0;
	background:#f8f8f8;
	padding-top:45px;
}
section.animated{
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}
.suggess{
  background-color: #228feb;
}
.dangerous{
  background-color: #228feb;
}
.asksuggess{
  background-color: #228feb;
}
.fright{
  float: right;
}
.fleft{
  float: left;
}

/*头部样式*/
.ui-header{
	background-color: #228feb;
	z-index: 1;
}
.ui-header h1{
	font-size: 16px;
}
.ui-header .ui-personal {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -23px;
  font-size: 14px;
}

/*login页样式*/
.ui-form {
	background-color:#f8f8f8;
}
#login .ui-form-item input{
  padding-left: 50px;
}
#login input,#bindroom input,#bindroom select,#checkgrade select,#gradetype select,#gradetype input,#checkgrade input{
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
#login,#bindroom,#checkgrade,#gradetype{
  margin-top: 10px; 
}
#login .ui-form-item,#bindroom .ui-form-item,#checkgrade .ui-form-item,#gradetype .ui-form-item{
  background-color: #fff; 
  padding-top: 4px;
  padding-bottom: 4px;
}
#login .ui-form-item label,#bindroom .ui-form-item label,#checkgrade .ui-form-item label,#gradetype .ui-form-item label{
  text-align: left;
}
#login .ui-btn-wrap,#bindroom .ui-btn-wrap,#checkgrade .ui-btn-wrap,#gradetype .ui-btn-wrap{
  padding: 20px 0;
}
#login .ui-btn-wrap button,#bindroom .ui-btn-wrap button{
  width:80%;
  margin: 0 auto;
}
#login .ui-btn-wrap button:active,#bindroom .ui-btn-wrap button:active{
  background:#228feb;;
}
#bindroom .ui-form-item>.ui-select {
  margin-left: 65px;
  margin-right: 10px;
}
/*index页样式*/
#index .ui-notice{
  height: 50%;
}
#index .ui-tab .ui-tab-nav,#index .ui-tab .ui-tab-nav li{
  height: 40px;
  line-height: 40px;
}
#index .ui-tab .ui-tab-nav li:first-child{
  border-right: 1px solid #e0e0e0;
}
#index .ui-tab .ui-tab-nav i{
  font-size: 14px;
  padding-left: 5px;
}
#index .ui-actionsheet button{
  font-size: 14px;
}
#index .progress{
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
  border-top: 1px solid #e0e0e0;
  padding-left: 6%;
  background-color: #fff;
}
#index .ui-progress{
  position: relative;
  top: 25px;
  width: 70%;
}
#index .progress .progress-num{
  font-size: 14px;
  position: absolute;
  top: 16px;
  right: 13%;
}
#index .progress .progress-num i{
  color: rgb(92, 184, 92);
}
#index .room-lst{
  margin-top: 5px;
  padding: 0 2%;
}
#index .ui-row{
  text-align: center;
  padding: 5px;
}
#index .ui-row li span{
  color: #888;
  width: 85%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
#index .first li:first-child span{
  border-color: #228feb;
}
#index .ui-row li span.active{
  background-color: rgb(92, 184, 92);
  border-color: rgb(92, 184, 92);
  color: #fff;
}
#index .first{
  padding-top: 10px;
}
#index .ui-row li span.not-need{
  background-color: #f8f8f8;
  color: #888;
  border: 1px solid #e0e0e0;
}
#index .ui-row li span.not-need i{
  color: rgb(92, 184, 92);
  padding-right: 3px;
}

/*gradetype页面*/
#gradetype .ui-form-item input{
  padding-left: 0;
  margin-left: 55px;
  width: 160px;
}
#gradetype #scroller button:last-child,#checkgrade #scroller button:last-child{
  margin-top: 0;
  border-top: 1px solid #e0e0e0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#gradetype #scroller button:not(last-child),#checkgrade #scroller button:not(last-child){
  border-radius: 0;
}
#gradetype .ui-actionsheet button{
  font-size: 14px;
}
#gradetype .ui-form-item label,#bindroom .ui-form-item label{
  width: 55px;
}
#gradetype .ui-form-item>.ui-select-group{
  margin-left: 55px;
  margin-right: 0;
  display: inline-block;
}
#gradetype select,#checkgrade select{
  padding-left: 0;
}
#gradetype .live-select .ui-select,#gradetype .apartmen-select .ui-select {
  margin-left: 55px;
  margin-right: 7%;
}
#gradetype .ui-select select,#checkgrade .ui-select select{
  padding-right: 10px;
}
#gradetype .ui-form-item .ui-btn{
  font-size: 14px;
  float: right;
  z-index: 2;
  position: relative;
  top: 7px;
}
#gradetype #wrapper,#checkgrade #wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 264px;
  max-height: 264px;
  overflow: hidden;
}
#gradetype #scroller,#checkgrade #scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

/*givegrade页面&gradedetail页面*/
#givegrade .ui-tab .ui-tab-nav,#givegrade .ui-tab .ui-tab-nav li,
#gradedetail .ui-tab .ui-tab-nav,#gradedetail .ui-tab .ui-tab-nav li{
  color: #000;
}
#givegrade .ui-tab .ui-tab-content h4,#gradedetail .ui-tab .ui-tab-content h4{
  font-size: 13px;
  color: #888;
  padding: 3px 5px;
  border-bottom: 1px solid #e0e0e0;
}
#givegrade .ui-tab .ui-tab-content .room>li,#givegrade .ui-tab .ui-tab-content .bed>li,
#gradedetail .ui-tab .ui-tab-content .room>li,#gradedetail .ui-tab .ui-tab-content .bed>li{
  font-size: 16px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 11px 6% 11px 4%;
  line-height: 30px;
  display: table;
  width: 90%;
}
#givegrade .ui-tab .ui-tab-content .room>li span,#givegrade .ui-tab .ui-tab-content .bed>li span,
#gradedetail .ui-tab .ui-tab-content .room>li span,#gradedetail .ui-tab .ui-tab-content .bed>li span{
  width: 60px;
  float: right;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  position: relative;
}
#givegrade .ui-tab .ui-tab-content .room>li i.active,#givegrade .ui-tab .ui-tab-content .bed>li i.active,
#gradedetail .ui-tab .ui-tab-content .room>li i.active,#gradedetail .ui-tab .ui-tab-content .bed>li i.active{
  float: right;
  position: absolute;
  top: -8px;
  right: -10px;
  width: 30px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #f74c31;
  border-radius: 10px;
}
#givegrade .ui-tab .ui-tab-content .room>li i.iconfont,#givegrade .ui-tab .ui-tab-content .bed>li i.iconfont,
#gradedetail .ui-tab .ui-tab-content .room>li i.iconfont,#gradedetail .ui-tab .ui-tab-content .bed>li i.iconfont{
  border: 1px solid #e0e0e0;
  width: 60px;
  margin-right: 0px;
  float: right;
  text-align: center;
  border-radius: 3px;
  height: 28px;
  line-height: 28px;
}
#givegrade .ui-tab .ui-tab-content .room>li i.icon-wrong,#givegrade .ui-tab .ui-tab-content .bed>li i.icon-wrong,
#gradedetail .ui-tab .ui-tab-content .room>li i.icon-wrong,#gradedetail .ui-tab .ui-tab-content .bed>li i.icon-wrong{
  border-color: #ff9501;
  color: #ff9501;
}
#givegrade .ui-tab .ui-tab-content .break-rules>li,#givegrade .ui-tab .ui-tab-content .bed-rules>li,
#gradedetail .ui-tab .ui-tab-content .break-rules>li,#gradedetail .ui-tab .ui-tab-content .bed-rules>li{
  background-color: #fff;
  font-size: 16px;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}
#givegrade .ui-tab .ui-tab-content .break-rules .rules-table,#givegrade .ui-tab .ui-tab-content .bed-rules .rules-table,
#gradedetail .ui-tab .ui-tab-content .break-rules .rules-table,#gradedetail .ui-tab .ui-tab-content .bed-rules .rules-table{
  display: table;
  width: 100%;
}
#givegrade .ui-tab .ui-tab-content .break-rules .rules-table .rules-col,#givegrade .ui-tab .ui-tab-content .bed-rules .rules-table .rules-col,
#gradedetail .ui-tab .ui-tab-content .break-rules .rules-table .rules-col,#gradedetail .ui-tab .ui-tab-content .bed-rules .rules-table .rules-col{
  display: table-cell;
  vertical-align: middle;
}
#givegrade .ui-tab .ui-tab-content .break-rules .rules-table .rules-title,#givegrade .ui-tab .ui-tab-content .bed-rules .rules-table .rules-title,
#gradedetail .ui-tab .ui-tab-content .break-rules .rules-table .rules-title,#gradedetail .ui-tab .ui-tab-content .bed-rules .rules-table .rules-title{
  width:50%;
  padding:11px 20px 11px 18px;;
}
#givegrade .ui-tab .ui-tab-content .break-rules .rules-table .rules-content,#givegrade .ui-tab .ui-tab-content .bed-rules .rules-table .rules-content,
#gradedetail .ui-tab .ui-tab-content .break-rules .rules-table .rules-content,#gradedetail .ui-tab .ui-tab-content .bed-rules .rules-table .rules-content{
  width:50%;
}
#givegrade .ui-tab .ui-tab-content .break-rules .rules-table .rules-content span,#givegrade .ui-tab .ui-tab-content .bed-rules .rules-table .rules-content span,
#gradedetail .ui-tab .ui-tab-content .break-rules .rules-table .rules-content span,#gradedetail .ui-tab .ui-tab-content .bed-rules .rules-table .rules-content span{
  border: 1px solid #ff9501;
  color: #ff9501;
  width: 30px;
  float: left;
  text-align: center;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  margin: 2px;
}
#givegrade .ui-tab .ui-tab-content .break-rules .rules-table .rules-content span.break-room,
#gradedetail .ui-tab .ui-tab-content .break-rules .rules-table .rules-content span.break-room{
  width: 72px;
}
#givegrade .ui-tab .ui-tab-content .break-rules .rules-table .rules-content span:last-child,#givegrade .ui-tab .ui-tab-content .bed-rules .rules-table .rules-content span:last-child{
  border: 1px solid #e0e0e0;
  color: #000;
  float: right;
  margin-right: 35px;
}
#givegrade .ui-actionsheet-cnt button,#gradedetail .ui-actionsheet-cnt button{
  font-size: 15px;
}
#givegrade .roules-footer{
  padding: 0;
  position: fixed;
  height: 44px;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
#givegrade .roules-footer .roules-grade span{
  line-height: 44px;
  color: #ff9501;
}
#givegrade .roules-footer .roules-grade span i{
  font-size: 14px;
  padding-left: 3px;
}
#givegrade .roules-footer .roules-grade>i{
  border: 1px solid #ff9501;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 14px;
  width: 36px;
  color: #ff9501;
  padding: 2px 5px;
}
#givegrade .roules-footer .roules-next{
  background-color: #228feb;
  color: #fff;
  line-height: 44px;
  font-size: 15px;
}
#givegrade .ui-tab .ui-tab-content .photo,#gradedetail .ui-tab .ui-tab-content .photo{
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px 5%;
  width: 90%;
  border-top: 0;
}
#givegrade .ui-tab .ui-tab-content .photo li,#gradedetail .ui-tab .ui-tab-content .photo li{
  float: left;
  padding: 0;
  width: 20%;
  margin: 5px 2.5%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}
#givegrade .ui-tab .ui-tab-content .photo li span,#gradedetail .ui-tab .ui-tab-content .photo li span{
  background-size: 100%;
}
#givegrade .ui-tab .ui-tab-content .photo .photo-add{
  line-height: 60px;
  text-align: center;
}
#givegrade .ui-tab .ui-tab-content .photo .photo-add i{
  width: 100%;
  display: inline-block;
}
#givegrade .img-add-icon{
  position: relative;
  top: -82px;
}
#givegrade .icon-ui2-icon-add{
  display: inline-block;
  width: 100%;
  height: 100%;
}
#givegrade .ui-grid-trisect-img,#gradedetail .ui-grid-trisect-img {
    padding-top: 100%;
}
#givegrade .room .ui-tips,#givegrade .bed .ui-tips,#givegrade .break-rules .ui-tips,
#gradedetail .room .ui-tips,#gradedetail .bed .ui-tips,#gradedetail .break-rules .ui-tips{
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}
#givegrade .room .left-table-cell,#givegrade .bed .left-table-cell,
#gradedetail .room .left-table-cell,#gradedetail .bed .left-table-cell{
  width: 200px;
}
#givegrade .room .table-cell-div,#givegrade .bed .table-cell-div,
#gradedetail .room .table-cell-div,#gradedetail .bed .table-cell-div{
  display: table-cell;
  vertical-align: middle;
}

/*checkgrade页面*/
#checkgrade .ui-form-item input{
  padding-left: 0;
  margin-left: 55px;
  width: 160px;
}
#checkgrade .dormitory-btns button:last-child{
  margin-top: 0;
  border-top: 1px solid #e0e0e0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#checkgrade .dormitory-btns button:not(last-child),{
  border-radius: 0;
}
#checkgrade .ui-actionsheet button{
  font-size: 14px;
}
#checkgrade .ui-form-item label{
  width: 55px;
}
#checkgrade .ui-form-item>.ui-select-group{
  margin-left: 55px;
  margin-right: 0;
  display: inline-block;
}
#checkgrade .live-select .ui-select,#checkgrade .apartmen-select .ui-select {
  margin-left: 55px;
  margin-right: 10%;
}
#checkgrade .ui-form-item .ui-btn{
  font-size: 14px;
  float: right;
  z-index: 2;
  position: relative;
  top: 7px;
}

/*gradedetail页面*/
#gradedetail header h1 i{
  padding-left: 5px;
}
#gradedetail .roules-footer{
  padding: 0;
  position: fixed;
  height: 44px;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
#gradedetail .roules-footer .roules-grade {
  width: 50%;
  background-color: #228feb;
  color: #fff;
  line-height: 44px;
  font-size: 15px;
}
#gradedetail .roules-footer .roules-num {
  width: 50%;
}
#gradedetail .roules-footer .roules-num span{
  line-height: 44px;
  color: #ff9501;
}
